.#{$namespace}input {

    &--file {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        overflow: hidden;

    }
}
