.#{$namespace}button {
    display: flex;
    align-items: center;
    @include rem( line-height, 30px );
    @include rem( padding, 10px );
    border: 0;
    color: $color-black;
    background: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;

    &:hover {
        box-shadow: 0 3px 10px rgba( 0, 0, 0, .1 );
    }

    &__close-icon {
        background: $color-black;
        transform: rotate( -45deg );
        @include rem( height, 20px );
        @include rem( margin,  0 20px 0 10px );
        display: inline-block;
        position: relative;
        @include rem( width, 1px );

        &::after {
            background: $color-black;
            content: '';
            @include rem( height, 1px );
            @include rem( width, 20px );
            @include rem( left, -9px );
            @include rem( top, 9px );
            position: absolute;
        }
    }

}
