.#{$namespace}form {
    display: block;
    width: auto;
    @include rem( padding, 5px 0 );

    &__input {
        border: 1px dotted $color-grey-background;
        font-size: 1rem;
        font-family: $base-font-family;
        @include rem( padding, 5px );
        width: auto;
        display: inline-block;

        &:focus, &:hover {
            outline: $color-grey-10;
            outline-style: dashed;
            outline-width: thin;
        }
    }

    &__label {
        display: inline-block;
        color: $color-black;
        font-size: 1rem;
        @include rem( min-width, 200px );
        @include rem( padding-right, 5px );

        &--sm {
            @include rem( min-width, 100px );
        }
    }
}

@media print {
    * {
        outline: none;
    }
    .#{$namespace}form {

        &__input {
            border: 0;
        }
    }
}

