.#{$namespace}list {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;

    &__item {
        display: flex;
        width: 30%;
        list-style: none;
    }

    &__icon {
        display: block;
        @include rem( width, 15px );
        @include rem( height, 15px );
        @include rem( margin-right, 10px );
    }
}
