/**
 * Global styling that doesn't involve typography should go here.
 */

html {
    /**
     * Setting base size for REM units, default 87.5% = 14px.
     * @see /src/configs/_variables.scss
     */
    font-size: percentage( $base-font-size / 16px );
    /**
     * Setting base box-sizing property.
     */
    box-sizing: border-box;
    /**
     * Disable 300ms tap delay for Windows touch devices that does not support
     * it with meta tag.
     * @see https://gist.github.com/gajus/bbf06ea2e37047b01e70
     */
    touch-action: manipulation;
    -webkit-transform: translateZ(0);

}

* {
    &,
    &:before,
    &:after {
        /**
         * Make every element inherit box-sizing so that it keeps it's component styles.
         * @see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
         */
        box-sizing: inherit;
    }

    &:focus {
        outline: none;
    }
}

body {
    /**
     * Set default font-family.
     * @see /src/configs/_variables.scss
     */
    font-family: $base-font-family;
    font-size: 1rem;
    line-height: 1.3;
    margin: 0;
    background-color: $color-grey-background;
}
