.#{$namespace}paragraph {
    @include rem( font-size, 10px );
    margin: 0;
    font-weight: 400;
    color: $color-grey-20;

    &:focus, &:hover {
        outline: $color-grey-10;
        outline-style: dashed;
        outline-width: thin;
    }

    &--bold {
        font-weight: 500;
    }

    &--size {

        &_1 {
            @include rem( font-size, 8px );
        }

        &_2 {
            @include rem( font-size, $base-font-size );
        }

        &_3 {
            @include rem( font-size, 16px );
        }

    }

    &--color {

        &_black {
            color: $color-black;
        }

        &_white {
            color: $color-white;
        }
    }
}
