/**
 * Namespace string for every component.
 */
$namespace: 'pg-';

/**
 * Base typography configuration.
 */
$base-font-size: 14px;

/* colors */

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #0367A5;

$color-grey-10: #F2F2F2;
$color-grey-20: #727272;

$color-active: #2CA557;

$color-grey-background: #EFEFEF;

$color-turquoise-10: #33BFBF;
$color-turquoise-20: #54B4BF;
$color-turquoise-30: #027E8C;

/**
 * Base font-family that uses the best looking build-in fonts:
 * - Roboto for Android devices,
 * - San-Francisco for Apple devices,
 * - Arial for others.
 *
 * For more information about the mess below see a great resource:
 * @see http://furbo.org/2015/07/09/i-left-my-system-fonts-in-san-francisco/
 */
$base-font-family: 'Roboto', system, 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSDisplay-Regular', Arial, sans-serif;
