.#{$namespace}icon {
    display: block;
    cursor: pointer;
    outline: none;

    &__wrapper {
        text-align: center;
        display: block;
        position: relative;
        @include rem( padding, 5px );
        outline: none;

        &--row {
            display: flex;
        }

        &:hover {
            box-shadow: 0 3px 10px rgba( 0, 0, 0, .1 );
        }

        //style for input['type' =>  'file']
        &--attach {

        }
    }

    &__image {
        @include rem( width, 50px );
        @include rem( height, 40px );

        &--small {
            @include rem( width, 25px );
            @include rem( height, 20px );
            @include rem( margin-right, 10px );
        }

        &--active {
            fill: $color-active;
        }
    }
}