.#{$namespace}header {
    display: block;
    width: auto;
    height: auto;
    box-shadow: 0 0 10px rgba( 0, 0, 0, .1 );
    background: $color-white;
    @include rem( max-width, 270px );

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        @include rem( padding, 20px );
    }

    &__section {
        display: flex;
        width: 100%;
        justify-content: center;
        @include rem( padding-bottom, 20px );

        &--width {

            &_40 {
                width: 40%;
            }

            &_60 {
                width: 60%;
            }
        }

        &--column {
            flex-direction: column;
        }
    }

    &__icon {
        display: block;
        cursor: pointer;
        @include rem( width, 60px );
        @include rem( height, 40px );
    }
}

@media print {
    .#{$namespace}header {
        display: none;
    }
}
