.#{$namespace}section {
    display: block;
    width: auto;

    &--right {
        @include rem( margin-left, 20px );
        @include rem( margin-top, 20px );
    }
}
@media print {
    .#{$namespace}section--right {
        display: none;
    }
}
