.#{$namespace}page {
    display: block;
    position: relative;
    page-break-after: always;
    background-color: $color-white;
    box-shadow: 0 3px 10px rgba( 0, 0, 0, .1 );
    @include rem( margin, 20px auto );
    @include rem( padding, 60px 30px );
    width: 210mm;
    height: 297mm;

    &--hidden {
        //display: none;
    }

    &--last {
        @include rem( padding, 30px );
    }

    &__image-wrapper {
        display: block;

        &--top {
            position: absolute;
            @include rem( top, 30px );
            @include rem( right, 30px );
            z-index: 10;
        }

        &--profile {
            display: none;
            position: absolute;
            @include rem( right, 0 );
            bottom: 0;
            @include rem( width, 150px );
            @include rem( height, 170px );
        }

        &--active {
            display: block;
        }

        &--width {

            &_30 {
                width: 30%;
            }
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;

        &--logo {
            @include rem( width, 150px );
            height: auto;
        }

    }

    &__paragraph {
        @include rem( margin-right, 15px );
    }

    &__section {
        display: block;
        position: relative;
        @include rem( padding, 0 30px );
        transition: background .2s;

        &--width {

            &_50 {
                width: 50%;
            }

            &_60 {
                width: 60%;
            }
        }

        &-controls {
            display: block;
            position: absolute;
            @include rem( right, 30px );
            @include rem( top, 0px );
        }

        &-wrapper {
            @include rem( margin-bottom, 15px );
            @include rem( padding, 5px );

            &:focus, &:hover {
                outline: $color-grey-10;
                outline-style: dashed;
                outline-width: thin;
            }

            &--row {
                display: flex;
            }

            &--margin {

                &_0 {
                    margin-bottom: 0;
                }
            }
        }

        &--footer {
            position: absolute;
            width: calc( 210mm - 60px);
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            @include rem( bottom, 30px );
        }


    }

    &__footer-counter {
        display: none;

        &--active {
            display: block;
        }
    }

}

@page {
    size: A4;
    margin: 0;

    @bottom-right {
        content: counter( page ) " / " counter( pages );
    }
}

@media print {

    html, body {
        width: 210mm;
        height: 297mm;
    }
    .#{$namespace}page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    @bottom-right {
        content: counter( page ) " / " counter( pages );
    }
}
