.#{$namespace}control {
    display: block;
    cursor: pointer;
    @include rem( width, 30px );
    @include rem( height, 30px );
    @include rem( margin-bottom, 5px );
    @include rem( line-height, 26px );
    border-radius: 100%;
    border: 1px solid $color-grey-10;
    transition: box-shadow .2s;
    text-align: center;
    background: $color-white;

    &:hover {
        box-shadow: 0 2px 5px rgba( 0, 0, 0, .1 );
    }

    &--transformed {
        transform: rotate( 180deg );
    }

    &__icon {
        display: inline-block;
        @include rem( width, 20px );
        @include rem( height, 20px );
        vertical-align: middle;

        &-arrow {
            border: solid black;
            display: inline-block;
            @include rem( padding, 3px );
            @include rem( border-width, 0 3px 3px 0 );
            transform: rotate(45deg);
        }

    }
}
