.#{$namespace}headline {
    margin: 0;
    color: $color-black;
    @include rem( margin-bottom, 15px );
    @include rem( margin-right, 30px );
    @include rem( font-size, $base-font-size );

    &:focus, &:hover {
        outline: $color-grey-10;
        outline-style: dashed;
        outline-width: thin;
    }

    &--bold {
        font-weight: 700;
    }

    &--light {
        font-weight: 300;
    }

    &--color {

        &_turq {
            color: $color-turquoise-30;
        }
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--size {

        &_2 {
            @include rem( font-size, 18px );
        }
    }
}
