.#{$namespace}table {
    display: block;
    position: relative;

    &__wrapper {
         width: 100%;
    }

    &__row {
        width: 100%;
        @include rem( height, 40px );

        &:first-child {
            @include rem( height, 30px );
        }

        &:nth-child(even) {
            background: $color-grey-10;
        }

        &:nth-child(odd) {
            background: $color-white;
        }

        &-item {
            @include rem( padding, 5px );

            &:first-child {
                width: 30%;
            }

            &:nth-child(2) {
                width: 70%;
            }
        }
    }

    &__controls {
        display: block;
        position: absolute;
        @include rem( width, 30px );
        @include rem( height, 70px );
        @include rem( right, -10px );
        @include rem( bottom, -20px );
        z-index: 10;
    }
}

@media print {
    .#{$namespace}table {

        &__controls {
            display: none;
        }
    }
}
