.#{$namespace}button-container {
    display: block;
    width: 100%;
    box-shadow: 0 0 10px rgba( 0, 0, 0, .1 );
    background: $color-white;
    @include rem( margin-bottom, 20px );
    @include rem( max-width, 270px );

    &__wrapper {
        @include rem( padding, 20px );

        &--padding {

            &_top-0 {
                padding-top: 0;
            }
        }
    }

}



@media print {
    .#{$namespace}button-container {
        display: none;
    }
}
