.swiper {
    $root: &;

    &-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &-vertical {
            #{$root}-wrapper {
                flex-direction: column;
            }
        }

        &-android {
            #{$root}-slide,
            #{$root}-wrapper {
                transform: translate3d( 0, 0, 0 );
            }
        }

        &-multirow {
            #{$root}-wrapper {
                flex-wrap: wrap;
            }
        }

        &-free-mode {
            #{$root}-wrapper {
                transition-timing-function: ease-out;
                margin: 0 auto;
            }
        }

        &-autoheight {

            #{$root}-wrapper {
                align-items: flex-start;
                transition-property: transform, height;
            }

            #{$root}-autoheight {
                #{$root}-slide {
                    height: auto;
                }
            }
        }

        #{$root}-notification {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            opacity: 0;
            z-index: -1000;
        }
    }

    &-wp8-horizontal {
        touch-action: pan-y;
    }

    &-wp8-vertical {
        touch-action: pan-x;
    }

    &-slide {
        flex-shrink: 0;
        width: auto;
        //height: 100%;
        @include rem( height, 60px );
        position: relative;
        justify-content: center;
        align-items: center;
    }

    &-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        max-width: none;
        transition-property: transform;
        box-sizing: content-box;
    }
}

.#{$namespace}prototypes {
    display: block;
    @include rem( max-width, 170px );
    width: 100%;
    margin: 0 auto;

    &__wrapper {
        display: block;
        background: $color-white;
        border: 1px solid $color-grey-10;
    }

    &__content{
        height: 100%;
        flex-direction: column;
        @include rem( max-height, 300px );
    }

    &__arrow {
        @include rem( height, 30px );
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid $color-grey-10;
        outline: none;
        background: $color-white;
        position: relative;
        z-index: 10;
    }

    &__arrow-icon {
        cursor: pointer;

        &--top {
            transform: rotate( 180deg );
        }

        &:hover {
            box-shadow: 0 3px 10px rgba( 0, 0, 0, .1 );
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        @include rem( max-height, 100px );
        @include rem( padding, 5px );
        opacity: .5;

        &:hover {
            box-shadow: 2px 2px 10px rgba( 0, 0, 0, .1 );
        }
        
        &--active {
            opacity: 1;
            background: $color-grey-background;
        }
    }

    &__icon {
        display: block;
        @include rem( height, 70px );
        @include rem( width, 80px );
        @include rem( padding-bottom, 5px );

    }
}


